<section>
  <h2>{{modoEdicion? 'Editar Usuario': 'Nuevo Usuario'}}</h2>

  @if (cargandoUsuario) {
    <p>Cargando datos del usuario...</p>
  }

  <form [formGroup]="formularioUsuario" (ngSubmit)="enviarFormulario()">
    <div>
      <label for="nombre">Nombre:</label>

      <input type="text" id="nombre" formControlName="nombre" />

      @if (
        formularioUsuario.controls.nombre.touched &&
        formularioUsuario.controls.nombre.hasError('required')
      ) {
        <p>El nombre es obligatorio.</p>
      }

      @if (
        formularioUsuario.controls.nombre.touched &&
        formularioUsuario.controls.nombre.hasError('minlength')
      ) {
        <p>El nombre debe tener al menos 3 caracteres.</p>
      }
    </div>

    <div>
      <label for="email">Email:</label>

      <input type="email" id="email" formControlName="email" />

      @if (
        formularioUsuario.controls.email.touched &&
        formularioUsuario.controls.email.hasError('required')
      ) {
        <p>El email es obligatorio.</p>
      }

      @if (
        formularioUsuario.controls.email.touched &&
        formularioUsuario.controls.email.hasError('email')
      ) {
        <p>El email debe ser válido.</p>
      }
    </div>

    <div>
      <label for="telefono">Teléfono:</label>

      <input type="text" id="telefono" formControlName="telefono" />
    </div>
    <button type="submit" [disabled]="enviando || cargandoUsuario">
      @if (enviando) {
        Guardando...
      } @else if (modoEdicion) {
        Guardar cambios
      } @else {
        Crear usuario
      }
    </button>
  </form>

  @if (mensajeExito) {
    <p>{{ mensajeExito }}</p>
  }

  @if (mensajeError) {
    <p>{{ mensajeError }}</p>
  }

  <p>
    <a routerLink="/usuarios">Volver a la lista</a>
  </p>
</section>
