<section>
  <h2>{{ modoEdicion ? 'Editar Usuario' : 'Nuevo Usuario' }}</h2>

  @if (cargandoUsuario) {
    <p>Cargando datos del usuario...</p>
  }

  <form [formGroup]="formularioUsuario" (ngSubmit)="enviarFormulario()">
    <div>
      <label for="nombre">Nombre:</label>

      <input type="text" id="nombre" formControlName="nombre" />

      @if (
        formularioUsuario.controls.nombre.touched &&
        formularioUsuario.controls.nombre.hasError('required')
      ) {
        <p>El nombre es obligatorio.</p>
      }

      @if (
        formularioUsuario.controls.nombre.touched &&
        formularioUsuario.controls.nombre.hasError('soloEspacios')
      ) {
        <p>El nombre no puede contener solamente espacios.</p>
      }

      @if (
        formularioUsuario.controls.nombre.touched &&
        formularioUsuario.controls.nombre.hasError('minlength') &&
        !formularioUsuario.controls.nombre.hasError('soloEspacios')
      ) {
        <p>El nombre debe tener al menos 3 caracteres.</p>
      }
    </div>

    <div>
      <label for="email">Email:</label>

      <input type="email" id="email" formControlName="email" />

      @if (
        formularioUsuario.controls.email.touched &&
        formularioUsuario.controls.email.hasError('required')
      ) {
        <p>El email es obligatorio.</p>
      }

      @if (
        formularioUsuario.controls.email.touched &&
        formularioUsuario.controls.email.hasError('email')
      ) {
        <p>El email debe ser válido.</p>
      }
    </div>

    
    <div>
      <label for="telefono">Teléfono:</label>

      <input type="tel" inputmode="tel" id="telefono" formControlName="telefono" />

      @if (
        (formularioUsuario.controls.telefono.dirty ||
          formularioUsuario.controls.telefono.touched) &&
        formularioUsuario.controls.telefono.hasError('pattern')
      ) {
        <p>El formato del teléfono no es válido.</p>
      }

      @if (
        formularioUsuario.controls.telefono.dirty &&
        formularioUsuario.controls.telefono.valid &&
        formularioUsuario.controls.telefono.value !== ''
      ) {
        <p>El teléfono es válido.</p>
      }
    </div>

    <button type="submit" [disabled]="enviando || cargandoUsuario">
      @if (enviando) {
        Guardando...
      } @else if (modoEdicion) {
        Guardar cambios
      } @else {
        Crear usuario
      }
    </button>
  </form>

  @if (mensajeExito) {
    <p>{{ mensajeExito }}</p>
  }

  @if (mensajeError) {
    <p>{{ mensajeError }}</p>
  }

  <p>
    <a routerLink="/usuarios">Volver a la lista</a>
  </p>
</section>
