<section>
    <h2>Lista de usuarios</h2>

<p>
  <a routerLink="/usuarios/nuevo">Agregar nuevo usuario</a>
</p>


@if (usuarios$ | async; as usuarios){
    <ul>
        @for (usuario of usuarios; track usuario.id){
            <li>
                <strong>{{usuario.name}}</strong>
                <p>{{usuario.email}}</p>
                <a [routerLink]="['/usuarios', usuario.id]">Ver detalle</a>
            </li>
        } @empty {
            <li>No hay usuarios disponibles</li> 
                
            
        }
    </ul>
} @else {
    <p> Cargando usuarios...</p>
}
</section>
